.divider {
	width: 2px;
	height: 32px;
	background-color: $color-border-main;
	border-radius: 1px;

	&--first {
		display: none;
	}

	&--third {
		display: none;
	}

	@include media($tablet) {
		&--first {
			display: block;
		}

		&--third {
			display: block;
		}

		&--second {
			display: none;
		}
	}
}