.link-round-text {
	display: flex;
	gap: 8px;
	align-items: center;
	transition: all .3s ease-in;

	&:hover {
		.link-round-text__icon {
			filter: brightness(0.8);
		}
	}

	&__text {
		font-weight: 500;
	}

	&__icon {
		width: 40px;
		height: 40px;
		transition: all .3s ease-in;
	}

	&--repair {
		.link-round-text__icon {
			background-image: url('./../assets/images/icons/repair.svg');
		}
	}

	&--status {
		.link-round-text__icon {
			background-image: url('./../assets/images/icons/checkstatus.svg');
		}
	}
}