.load-btn {
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 4px;
	transition: all .3s ease-in;
	transform: scale(1);

	&:hover {
		transform: scale(1.02);
	}

	&__icon {
		background-image: url('./../assets/images/icons/arrow-down.svg');
		width: 24px;
		height: 24px;
	}
}