.modal-bg {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	background-color: $color-white;
	opacity: 0.9;
	transition: left 0.4s ease-in-out;

	&.active {
		width: 100%;
	}
}