.nav {
	position: fixed;
	z-index: 100;
	top: 0;
	left: -100%;
	width: 320px;
	min-height: 100vh;
	background-color: $color-white;
	padding: 16px 0 32px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	box-shadow: $shadow-menu;

	&.active {
		inset: 0;
		overflow-y: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		@include animation('menu 2s 1 both');

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 24px;
		padding: 0 16px;
	}

	&__search {
		width: 100%;
		padding: 10px;
		margin-top: 10px;
		background-color: $color-border-main;
		border-radius: 4px;
		display: none;

		&.active {
			display: block;
		}
	}

	.btn-round--close {
		margin-right: 16px;
	}

	.btn-round--search {
		margin-left: auto;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 32px;
	}

	&__list-link {
		display: inline-block;
		padding-left: 16px;

		&.active {
			padding-left: 12px;
			border-left: 4px solid $color-border-active-main;
			color: $color-text-secondary;
			cursor: auto;
		}
	}

	& &__links {
		display: flex;
		gap: 16px;
		margin: auto 0 16px;
		padding: 0 16px;

		.link-round {
			display: block;
			margin: 0;
		}
	}

	&__mail-link {
		margin-bottom: 12px;
		display: block;
		padding-left: 16px;
	}

	&__call-link {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 8px;
		display: block;
		padding-left: 16px;
	}

	&__lang-links {
		display: flex;
		gap: 7px;
		padding: 0 16px;
	}

	&__lang-link {
		text-transform: uppercase;

		&.active {
			color: $color-text-secondary;
			cursor: auto;
		}
	}

	@include media($tablet) {
		&__header {
			padding: 0 24px;
			margin-bottom: 50px;
		}

		&__list {
			gap: 32px;
		}

		&__list-link {
			padding-left: 24px;

			&.active {
				padding-left: 20px;
			}
		}

		& &__links {
			padding: 0 24px;
		}

		&__mail-link {
			padding-left: 24px;
		}

		&__call-link {
			margin-bottom: 40px;
			padding-left: 24px;
		}

		&__lang-links {
			padding: 0 24px;
		}
	}

	@include media($b-1200) {
		& {
			padding: 30px 0;
		}

		& &__links {
			margin: 240px 0 16px;
		}
	}
}