.repair-card {
	border-radius: 6px;
	border: 1px solid $color-border-main;
	background-color: $color-white;
	width: 240px;
	height: 160px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& a {
		align-self: flex-end;
	}

	& p {
		font-weight: 500;
	}

	@include media($tablet) {
		& {
			width: 224px;
		}
	}

	@include media($b-1200) {
		& {
			width: 240px;
		}
	}
}