.section-title {
	background: linear-gradient(270deg, #F8F8F8 0%, #FFF 98.61%);
	text-transform: uppercase;
	color: $color-text-secondary;
	font-weight: 400;
	font-size: 16px;
	padding: 16px;

	@include media($tablet) {
		& {
			padding: 16px 24px;
		}
	}

	@include media($b-1200) {
		& {
			padding: 16px 30px;
		}
	}
}