@font-face {
	font-family: 'TT Lakes';
	src: url('../assets/fonts/TTLakes-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../assets/fonts/TTLakes-Medium.woff') format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'TT Lakes';
	src: url('../assets/fonts/TTLakes-Bold.woff') format('woff');
	font-weight: 700;
}